<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="PressPlay">
      <section name="FFWD" type="PressPlay.FFWD.Exporter.Configuration.ConfigurationSectionHandler,PressPlay.FFWD.Exporter"/>
    </sectionGroup>
  </configSections>
  <PressPlay>
    <FFWD>
      <TypeResolver ExcludeByDefault="true">
        <DefaultNamespace>PressPlay.FFWD</DefaultNamespace>
        <ExcludeTypes>
          <Type>UnityEngine.Transform</Type>
        </ExcludeTypes>
        <IncludeTypes>
          <Type>UnityEngine.MeshRenderer</Type>
        </IncludeTypes>
        <NamespaceRules>
          <Convert Namespace="System" To="Testing"/>
        </NamespaceRules>
        <ComponentWriters>
          <Map Type="UnityEngine.MeshRenderer" To="PressPlay.FFWD.Exporter.Writers.Components.MeshRendererWriter, PressPlay.FFWD"/>
          <Map Type="AnimatedCheckPoint" To="PressPlay.FFWD.Exporter.Writers.Components.ManualScriptWriter, PressPlay.FFWD.Exporter" FilterType="Exclude" FilterItems="sndActivate,challenge"/>
        </ComponentWriters>
      </TypeResolver>
    </FFWD>
  </PressPlay>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
