<?xml version="1.0" encoding="utf-8"?>
<ExportConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <scriptNamespace />
  <xnaAssets>
    <TextureDir>FFWD.Template.Content</TextureDir>
    <AudioDir>FFWD.Template.Content</AudioDir>
    <MeshDir>FFWD.Template.XmlContent</MeshDir>
    <ScriptDir>FFWD.Template.Scripts</ScriptDir>
    <XmlDir>FFWD.Template.XmlContent</XmlDir>
  </xnaAssets>
  <unityScriptDir>Scripts</unityScriptDir>
  <exportDir>FFWD.Template.XmlContent</exportDir>
  <configSource>Editor\FFWD\PressPlay.FFWD.Exporter.dll.config</configSource>
  <showComponentsNotWritten>true</showComponentsNotWritten>
  <groups>
    <SceneGroup>
      <name>Main scenes</name>
      <baseSceneDir>Assets\Scenes</baseSceneDir>
      <validationScript />
      <scenes>
        <string>TestScene</string>
      </scenes>
    </SceneGroup>
  </groups>
  <allowedSkippedComponents />
  <excludedScripts>
    <string>AssemblyInfo</string>
  </excludedScripts>
  <excludedPaths />
</ExportConfig>