<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="PressPlay">
      <section name="FFWD" type="PressPlay.FFWD.Exporter.Configuration.ConfigurationSectionHandler,PressPlay.FFWD"/>
    </sectionGroup>
  </configSections>
  <PressPlay>
    <FFWD>
      <TypeResolver ExcludeByDefault="false">
        <NamespaceRules>
          <Convert Namespace="UnityEngine" To="c:"/>
          <Convert Type="PressPlay.FFWD.Components.Transform" To="PressPlay.FFWD.Transform"/>
        </NamespaceRules>
        <ComponentWriters>
          <Map Type="UnityEngine.MeshRenderer" To="PressPlay.FFWD.Exporter.Writers.Components.MeshRendererWriter, PressPlay.FFWD.Exporter"/>
          <Map Type="UnityEngine.SkinnedMeshRenderer" To="PressPlay.FFWD.Exporter.Writers.Components.MeshRendererWriter, PressPlay.FFWD.Exporter"/>
          <Map Type="UnityEngine.BoxCollider" To="PressPlay.FFWD.Exporter.Writers.Components.BoxColliderWriter, PressPlay.FFWD.Exporter"/>
          <Map Type="UnityEngine.SphereCollider" To="PressPlay.FFWD.Exporter.Writers.Components.SphereColliderWriter, PressPlay.FFWD.Exporter"/>
          <Map Type="UnityEngine.CapsuleCollider" To="PressPlay.FFWD.Exporter.Writers.Components.CapsuleColliderWriter, PressPlay.FFWD.Exporter"/>
          <Map Type="UnityEngine.Rigidbody" To="PressPlay.FFWD.Exporter.Writers.Components.RigidbodyWriter, PressPlay.FFWD.Exporter" />
          <Map Type="UnityEngine.MeshFilter" To="PressPlay.FFWD.Exporter.Writers.Components.MeshFilterWriter, PressPlay.FFWD.Exporter" />
          <Map Type="UnityEngine.Animation" To="PressPlay.FFWD.Exporter.Writers.Components.AnimationWriter, PressPlay.FFWD.Exporter" />
          <Map Type="UnityEngine.AudioSource" To="PressPlay.FFWD.Exporter.Writers.Components.GenericComponentWriter, PressPlay.FFWD.Exporter" FilterType="Include" FilterItems="enabled,volume,pitch,clip,loop,playOnAwake" />
          <Map Type="UnityEngine.Camera" To="PressPlay.FFWD.Exporter.Writers.Components.GenericComponentWriter, PressPlay.FFWD.Exporter" FilterType="Include" FilterItems="fieldOfView,nearClipPlane,farClipPlane,orthographicSize,orthographic,depth,aspect,cullingMask,backgroundColor,rect,clearFlags"  />
          <Map Type="UnityEngine.Light" To="PressPlay.FFWD.Exporter.Writers.Components.GenericComponentWriter, PressPlay.FFWD.Exporter" FilterType="Include" FilterItems="enabled,type,color,intensity,range,spotAngle,cullingMask" />

          <Map Type="UnityEngine.ParticleEmitter" To="PressPlay.FFWD.Exporter.Writers.Components.ParticleEmitterWriter, PressPlay.FFWD.Exporter" />
          <Map Type="UnityEngine.ParticleAnimator" To="PressPlay.FFWD.Exporter.Writers.Components.GenericComponentWriter, PressPlay.FFWD.Exporter" />
          <Map Type="UnityEngine.ParticleRenderer" To="PressPlay.FFWD.Exporter.Writers.Components.ParticleRendererWriter, PressPlay.FFWD.Exporter" />

          <Map Type="UnityEngine.LineRenderer" To="PressPlay.FFWD.Exporter.Writers.Components.LineRendererWriter, PressPlay.FFWD.Exporter" />
        </ComponentWriters>
      </TypeResolver>
    </FFWD>
  </PressPlay>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>