<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="PressPlay">
      <section name="U2X" type="PressPlay.U2X.Configuration.ConfigurationSectionHandler,PressPlay.U2X" />
    </sectionGroup>
  </configSections>
  <PressPlay>
    <U2X>
      <TypeResolver ExcludeByDefault="true">
        <ExcludeTypes>
          <Type>UnityEngine.Transform</Type>
        </ExcludeTypes>
        <IncludeTypes>
          <Type>UnityEngine.MeshRenderer</Type>
          <Type>UnityEngine.MeshCollider</Type>
        </IncludeTypes>
        <NamespaceRules>
          <Convert Namespace="UnityEngine" To="PressPlay.U2X.Xna.Components" />
        </NamespaceRules>
        <ComponentWriters>
          <Map Type="UnityEngine.MeshRenderer" To="PressPlay.U2X.Writers.MeshRendererComponentWriter, PressPlay.U2X" />
          <Map Type="UnityEngine.MeshCollider" To="PressPlay.U2X.Writers.MeshColliderComponentWriter, PressPlay.U2X" />
        </ComponentWriters>
      </TypeResolver>
    </U2X>
  </PressPlay>
</configuration>