<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UnityScriptsBasePath" value="C:\Projects\PressPlay\HardPlastic\Unity\Assets\Scripts\"/>
    <add key="XNAScriptsBasePath" value="C:\Projects\PressPlay\HardPlastic\XNA\PressPlay.HardPlastic.Scripts\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
