<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UnityScriptsBasePath" value="..\..\..\..\..\Unity\Assets\Scripts\"/>
    <add key="XNAScriptsBasePath" value="..\..\..\..\PressPlay.HardPlastic.Scripts\"/>
    <add key="ExcludeScripts" value="Utils,ShowFPS,AssemblyInfo"/>
    <add key="ExcludePaths" value="XNA Export,MegaFiers"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
