<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="PressPlay">
      <section name="FFWD" type="PressPlay.FFWD.Exporter.Configuration.ConfigurationSectionHandler,PressPlay.FFWD"/>
    </sectionGroup>
  </configSections>
  <PressPlay>
    <FFWD>
      <TypeResolver ExcludeByDefault="false">
        <ExcludeTypes>
          <Type>UnityEngine.Transform</Type>
        </ExcludeTypes>
        <NamespaceRules>
          <Convert Namespace="UnityEngine" To="PressPlay.FFWD.Components"/>
          <Convert Type="XNAMeshCollider" To="PressPlay.FFWD.Components.MeshCollider"/>
        </NamespaceRules>
        <ComponentWriters>
          <Map Type="UnityEngine.MeshRenderer" To="PressPlay.FFWD.Exporter.Writers.Components.MeshRendererWriter, PressPlay.FFWD.Exporter"/>
          <Map Type="UnityEngine.SkinnedMeshRenderer" To="PressPlay.FFWD.Exporter.Writers.Components.MeshRendererWriter, PressPlay.FFWD.Exporter"/>
          <Map Type="UnityEngine.BoxCollider" To="PressPlay.FFWD.Exporter.Writers.Components.BoxColliderWriter, PressPlay.FFWD.Exporter"/>
          <Map Type="UnityEngine.SphereCollider" To="PressPlay.FFWD.Exporter.Writers.Components.SphereColliderWriter, PressPlay.FFWD.Exporter"/>
          <Map Type="UnityEngine.Rigidbody" To="PressPlay.FFWD.Exporter.Writers.Components.RigidbodyWriter, PressPlay.FFWD.Exporter" />
          <Map Type="UnityEngine.MeshFilter" To="PressPlay.FFWD.Exporter.Writers.Components.MeshFilterWriter, PressPlay.FFWD.Exporter" />
          <Map Type="UnityEngine.Animation" To="PressPlay.FFWD.Exporter.Writers.Components.GenericComponentWriter, PressPlay.FFWD.Exporter" FilterType="Include" FilterItems="playAutomatically"  />
          <Map Type="UnityEngine.Camera" To="PressPlay.FFWD.Exporter.Writers.Components.GenericComponentWriter, PressPlay.FFWD.Exporter" FilterType="Exclude" FilterItems="fov,near,far,isOrthoGraphic,targetTexture,pixelRect,pixelWidth,pixelHeight,cameraToWorldMatrix,worldToCameraMatrix,projectionMatrix,velocity,layerCullDistances,depthTextureMode"  />

          <!-- TENTACLES SPECIFIC STUFF -->
          <Map Type="XNACameraNodeExporter" To="PressPlay.FFWD.Exporter.Writers.Components.Extensions.XNACameraNodeExporter, PressPlay.FFWD.Exporter"/>
          <Map Type="XNAMeshCollider" To="PressPlay.FFWD.Exporter.Writers.Components.Extensions.XNAMeshColliderWriter, PressPlay.FFWD.Exporter"/>
          <Map Type="SimpleRotate" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter"/>
          <Map Type="LevelHandler" To="PressPlay.FFWD.Exporter.Writers.Components.ManualScriptWriter, PressPlay.FFWD.Exporter" FilterType="Exclude" FilterItems="endSound,feedbackCameraPrefab,GUICameraPrefab,uIManagerPrefab,ingameGUIPrefab,feedback,endLevelScreen,deathScreen,inGameMenuPrefab,library,challengeHandler,musicController" />
          <Map Type="LevelStartCheckPoint" To="PressPlay.FFWD.Exporter.Writers.Components.ManualScriptWriter, PressPlay.FFWD.Exporter" FilterType="Exclude" FilterItems="challenge" />
          <Map Type="LevelTypeSettings" To="PressPlay.FFWD.Exporter.Writers.Components.ManualScriptWriter, PressPlay.FFWD.Exporter"/>
          <Map Type="AnimatedCheckPoint" To="PressPlay.FFWD.Exporter.Writers.Components.ManualScriptWriter, PressPlay.FFWD.Exporter" FilterType="Exclude" FilterItems="sndActivate,challenge" />
          <Map Type="Lemmy" To="PressPlay.FFWD.Exporter.Writers.Components.ManualScriptWriter, PressPlay.FFWD.Exporter" FilterType="Include" FilterItems="aimAtFingerPosition,useControllerInput,mainBodyPrefab,mainBody,tentacleTipPrefab,stats,tentacleStats,tentaclePrefab" />
          <Map Type="MainBody" To="PressPlay.FFWD.Exporter.Writers.Components.ManualScriptWriter, PressPlay.FFWD.Exporter" FilterType="Exclude" FilterItems="anim" />
          <Map Type="TentacleTip" To="PressPlay.FFWD.Exporter.Writers.Components.ManualScriptWriter, PressPlay.FFWD.Exporter" FilterType="Include" FilterItems="eatTime,eatSpeed" />
          <Map Type="TentacleStats" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" />
          <Map Type="Tentacle" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" Options="noOverwrite" />
          <Map Type="TentacleJoint" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" Options="noOverwrite" />
          <Map Type="TentacleVisualStats" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" />
          <Map Type="LemmyStats" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" />
          <Map Type="GlobalSettings" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" />
          <Map Type="SpriteSheetLineDrawer" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" Options="noOverwrite" />
          <Map Type="UVSpriteSheetAnimator" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" Options="noOverwrite" />
          <Map Type="InputHandler" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" />
          <Map Type="TurnOffAtDistance" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" Options="noOverwrite" />
          <Map Type="PPAnimationHandler" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" Options="noOverwrite" FilterType="Exclude" FilterItems="animationComponent"  />
          <Map Type="PPAnimationClip" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" Options="noOverwrite" />
          <Map Type="PathFollowCam" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" Options="noOverwrite" />
          <Map Type="PathFollowObject" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" Options="noOverwrite" />
          <Map Type="PathFollowCamNode" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" Options="noOverwrite" FilterType="Exclude" FilterItems="nextNode"  />
          <Map Type="Waypoint" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" Options="noOverwrite" />
          <Map Type="WaypointMover" To="PressPlay.FFWD.Exporter.Writers.Components.MonoBehaviourWriter, PressPlay.FFWD.Exporter" Options="noOverwrite" />
        </ComponentWriters>
      </TypeResolver>
    </FFWD>
  </PressPlay>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
