<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="PressPlay">
      <section name="FFWD" type="PressPlay.FFWD.Exporter.Configuration.ConfigurationSectionHandler,PressPlay.FFWD" />
    </sectionGroup>
  </configSections>
  <PressPlay>
    <FFWD>
      <TypeResolver ExcludeByDefault="false">
        <ExcludeTypes>
          <Type>UnityEngine.Transform</Type>
        </ExcludeTypes>
        <NamespaceRules>
          <Convert Namespace="UnityEngine" To="PressPlay.FFWD.Components" />
          <Convert Type="XNAMeshCollider" To="PressPlay.FFWD.Components.MeshCollider" />
        </NamespaceRules>
        <ComponentWriters>
          <Map Type="UnityEngine.MeshRenderer" To="PressPlay.FFWD.Exporter.Writers.Components.MeshRendererWriter, PressPlay.FFWD.Exporter" />
          <Map Type="UnityEngine.BoxCollider" To="PressPlay.FFWD.Exporter.Writers.Components.BoxColliderWriter, PressPlay.FFWD.Exporter" />
          <Map Type="XNAMeshCollider" To="PressPlay.FFWD.Exporter.Writers.Components.XNAMeshColliderWriter, PressPlay.FFWD.Exporter" />
        </ComponentWriters>
      </TypeResolver>
    </FFWD>
  </PressPlay>
</configuration>