<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="PressPlay">
      <section name="FFWD" type="PressPlay.FFWD.Exporter.Configuration.ConfigurationSectionHandler,PressPlay.FFWD" />
    </sectionGroup>
  </configSections>
  <PressPlay>
    <FFWD>
      <TypeResolver ExcludeByDefault="true">
        <DefaultNamespace>PressPlay.FFWD</DefaultNamespace>
        <ExcludeTypes>
          <Type>UnityEngine.Transform</Type>
        </ExcludeTypes>
        <IncludeTypes>
          <Type>UnityEngine.MeshRenderer</Type>
        </IncludeTypes>
        <NamespaceRules>
          <Convert Namespace="System" To="Testing" />
        </NamespaceRules>
        <ComponentWriters>
          <Map Type="UnityEngine.MeshRenderer" To="PressPlay.FFWD.Exporter.Writers.MeshRendererComponentWriter, PressPlay.FFWD" />
        </ComponentWriters>
      </TypeResolver>
    </FFWD>
  </PressPlay>
</configuration>